body {
  font-family: helvetica, arial, sans-serif;
}

code {
  font-family: monospace;
}

nav ul li a, nav ul li a:visited, nav ul li a:active {
  font-size: 14px;
  text-decoration: none;
}

.title {
  text-decoration: none;
}

img {
  vertical-align:text-bottom;
} 

#footer {
   height: 200px;
}

