code {
    font-family: 'Source Code Pro', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace; !important
}

nav ul li a, nav ul li a:visited, nav ul li a:active {
    font-size: 14px;
    text-decoration: none;
}

.title {
    text-decoration: none;
}

img {
    vertical-align:text-bottom;
} 

#footer {
    height: 200px;
}

div.note  { 
    border: 1px solid #D9D9BF; border-radius: 3px 3px 3px 3px; 
    margin: 0 0 9px; 
    padding: 20px 10px 20px 56px;
    background: url('../images/note.png') no-repeat scroll 10px 10px #FFFFE0;
}

#socialwidget {
    float: right;
}

.arrow {
    background: url('../images/arrows.png');
    height: 12px;
    width: 12px;
    position: absolute;
    left: -6px;
    margin-top: 3px;
    cursor: pointer;
}

.arrowright {
    background-position: 24px;
}

.arrowdiag {
    background-position: 12px;
}

.arrowdown {
    background-position: 0;
}

.CodeRay {
    background-color: #F5F5F5;
    border: 1px solid #D0D0D0;
    border-radius: 3px 3px 3px 3px;
    margin: 0 0 9px;
    padding: 9px;
    overflow: auto;
}

ol { 
    list-style: decimal; 
}

ul {

    list-style: disc; 
    padding: 0 0 0 20px;
}

ul p {
    margin: 0;
}

ul.nav {
    list-style:none;
    padding: 0;
}

.icon .title{
    display:none;
}

.conum {
    display: inline-block;
    color: white !important;
    background-color: #222;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    font-family: Arial, sans-serif;
    font-style: normal;
    position: relative;
    top: -2px;
    letter-spacing: -1px
}

.conum * {
    color: white !important
}

.conum:empty {
    display: none;
}
pre .comment .conum {
    left: -20px;
}

.hdlist > table, .colist > table {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
}
.hdlist > table > tbody > tr, .colist > table > tbody > tr {
    background: none repeat scroll 0 0 transparent;
}
td.hdlist1 {
    font-weight: bold;
    padding-right: 0.8em;
    vertical-align: top;
}
.literalblock + .colist, .listingblock + .colist {
    margin-top: -0.5em;
}
.colist > table tr > td:first-of-type {
    line-height: 1;
    padding: 0 0.8em;
}
.colist > table tr > td:last-of-type {
    padding: 0.25em 0;
}

table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
    display: table-cell;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
