<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<manifest package="org.androidtransfuse.examples.hello" android:versionCode="1" android:versionName="1.0" t:tag="+" xmlns:t="http://androidtransfuse.org" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="11"/>
    <application android:name="android.app.Application" t:tag="+,n">
        <activity android:label="@string/app_name" android:name=".HelloAndroidActivity" t:tag="+,l,n">
            <intent-filter t:tag="+">
                <action android:name="android.intent.action.MAIN" t:tag="+,n"/>
                <category android:name="android.intent.category.LAUNCHER" t:tag="+,n"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
