<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title>

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="css/layout.css">
	<link rel="stylesheet" type="text/css" href="css/transfuse.css"/>
	<link rel="stylesheet" type="text/css" href="css/pygments.css"/>
	

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
	<script src="js/scroll.js"></script>
	
</head>
<body>

<div class="container" itemscope itemtype="http://schema.org/CreativeWork">

	<h2 class="remove-bottom" style="margin-top: 10px"><img itemprop="image" src="images/icon.png"/><a class="title" href="index.html" itemprop="url"><span itemprop="name">Transfuse</span></a></h2>
	for Google Android 
	<br/>
	Version {{site.currentVersion}}

	<div id="socialwidget">
		<a href="https://twitter.com/attransfuse" class="twitter-follow-button" data-show-count="false">Follow @attransfuse</a>
        	<div class="g-plusone" data-size="medium" data-href="http://androidtransfuse.org/"></div>
	</div>
	<hr />

	<div class="three columns">
		<nav>
			<ul>
				<li><a href="index.html">About</a></li>
				<li><a href="getting_started.html">Getting Started</a></li>
				<li><span id="documentationtoggle" class="arrow arrowright"></span><a href="documentation.html">Documentation</a>
					<ul id="documentation">
						<li><a href="documentation.html#introduction">Introduction</a></li>
						<li><a href="documentation.html#activity">@Activity</a></li>
						<li><a href="documentation.html#fragment">@Fragment</a></li>
						<li><a href="documentation.html#service">@Service</a></li>
						<li><a href="documentation.html#broadcastreceiver">@BroadcastReceiver</a></li>
						<li><a href="documentation.html#application">@Application</a></li>
						<li><a href="documentation.html#intent_factory">Intent Factory</a></li>
						<li><a href="documentation.html#dependency_injection_di">Dependency Injection</a></li>
						<li><a href="documentation.html#method_interceptors">Method Interceptors</a></li>
						<li><a href="documentation.html#events">Events</a></li>
						<li><a href="documentation.html#parcel">@Parcel</a></li>
						<li><a href="documentation.html#injector">Injector</a></li>
						<li><a href="documentation.html#legacy_support">Legacy Support</a></li>
					</ul>	
				</li>
				<li><a href="https://github.com/johncarl81/transfuse/downloads">Download</a></li>
			</ul>
		</nav>
	</div>
	
	<div class="thirteen columns content">

		{{content}}
	
	</div>

</div>

<a href="https://github.com/johncarl81/transfuse"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>

<div id="footer">
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11587475-2");
pageTracker._trackPageview();
} catch(err) {}

//twitter button
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

//google +1 button
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();

var expanded = {{page.documentationExpanded}}

if(expanded){
	$('#documentation').show();
}
else{
	$('#documentation').hide();
}
updateArrows();

$('#documentationtoggle').mousedown(function() {
	updateArrowCss('arrowdiag');
});

$('#documentationtoggle').mouseout(function() {
	updateArrows();
});

$('#documentationtoggle').click(function() {
	if(expanded){
		$('#documentation').slideUp();
	}
	else{
		$('#documentation').slideDown();
	}
	expanded = !expanded;
	updateArrows();
});

function updateArrows(){
	updateArrowCss(expanded? 'arrowdown' : 'arrowright');
}

function updateArrowCss(classifier){
	$('#documentationtoggle').removeClass('arrowright');
	$('#documentationtoggle').removeClass('arrowdiag');
	$('#documentationtoggle').removeClass('arrowdown');
	$('#documentationtoggle').addClass(classifier);
}



</script>
</body>
