<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title>

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{page.root}}css/base.css">
	<link rel="stylesheet" type="text/css" href="{{page.root}}css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="{{page.root}}css/layout.css">
	<link rel="stylesheet" type="text/css" href="{{page.root}}css/transfuse.css"/>
	<link rel="stylesheet" type="text/css" href="{{page.root}}css/pygments.css"/>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
	<script src="{{page.root}}js/scroll.js"></script>

</head>
<body>

<div class="container" itemscope itemtype="http://schema.org/CreativeWork">

	<h2 class="remove-bottom" style="margin-top: 10px"><img itemprop="image" src="{{page.root}}images/icon.png"/><a class="title" href="{{page.root}}index.html" itemprop="url"><span itemprop="name">Transfuse</span></a></h2>
	for Google Android
	<br/>

	<div id="socialwidget">
		<a href="https://twitter.com/attransfuse" class="twitter-follow-button" data-show-count="false">Follow @attransfuse</a>
        	<div class="g-plusone" data-size="medium" data-href="http://androidtransfuse.org/"></div>
	</div>
	<hr />

	<div class="three columns">
		<nav>
			<ul>
				<li><a href="{{page.root}}index.html">About</a></li>
				<li><a href="{{page.root}}getting_started.html">Getting Started</a></li>
				<li><span id="poststoggle" class="arrow arrowright"></span><a href="{{page.root}}posts.html">Blog</a>
					<ul id="posts" class="posts">
					{% for post in site.posts limit: 5 %}
						<li><a href="{{ post.url }}">{{ post.shortTitle }}</a></li>
					{% endfor %}
					</ul>
				</li>
				<li><span id="documentationtoggle" class="arrow arrowright"></span><a href="{{page.root}}documentation.html">Documentation</a>
					<ul id="documentation">
						<li><a href="{{page.root}}documentation.html#introduction">Introduction</a></li>
						<li><a href="{{page.root}}documentation.html#-activity">@Activity</a></li>
						<li><a href="{{page.root}}documentation.html#-fragment">@Fragment</a></li>
						<li><a href="{{page.root}}documentation.html#-service">@Service</a></li>
						<li><a href="{{page.root}}documentation.html#-broadcastreceiver">@BroadcastReceiver</a></li>
						<li><a href="{{page.root}}documentation.html#-application">@Application</a></li>
						<li><a href="{{page.root}}documentation.html#intent_factory">Intent Factory</a></li>
						<li><a href="{{page.root}}documentation.html#dependency_injection_di">Dependency Injection</a></li>
						<li><a href="{{page.root}}documentation.html#method_interceptors">Method Interceptors</a></li>
						<li><a href="{{page.root}}documentation.html#configuration">Configuration</a></li>
						<li><a href="{{page.root}}documentation.html#events">Events</a></li>
						<li><a href="{{page.root}}documentation.html#-parcel">@Parcel</a></li>
						<li><a href="{{page.root}}documentation.html#-factory">@Factory</a></li>
						<li><a href="{{page.root}}documentation.html#legacy_support">Legacy Support</a></li>
						<li><a href="{{page.root}}documentation.html#reference">Reference</a></li>
					</ul>	
				</li>
				<li><a href="http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.androidtransfuse%22">Download</a></li>
			</ul>
		</nav>
	</div>
	
	<div class="thirteen columns content">

		{{content}}

		
		{% if page.comments %} 
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = 'transfuse';

			(function() {
			    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		{% endif %} 
	
	</div>

</div>

<a href="https://github.com/johncarl81/transfuse"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>

<div id="footer">
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11587475-2");
pageTracker._trackPageview();
} catch(err) {}

//twitter button
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

//google +1 button
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();

function setupToggle(expanded, toggleId, toggleBodyId){

	var updateArrows = function(){
		updateArrowCss(expanded? 'arrowdown' : 'arrowright');
	}

	var updateArrowCss = function updateArrowCss(classifier){
		$(toggleId).removeClass('arrowright');
		$(toggleId).removeClass('arrowdiag');
		$(toggleId).removeClass('arrowdown');
		$(toggleId).addClass(classifier);
	}

	if(expanded){
		$(toggleBodyId).show();
	}
	else{
		$(toggleBodyId).hide();
	}
	updateArrows();

	$(toggleId).mousedown(function() {
		updateArrowCss('arrowdiag');
	});

	$(toggleId).mouseout(function() {
		updateArrows();
	});

	$(toggleId).click(function() {
		if(expanded){
			$(toggleBodyId).slideUp();
		}
		else{
			$(toggleBodyId).slideDown();
		}
		expanded = !expanded;
		updateArrows();
	});
}

setupToggle({{page.documentationExpanded}}, '#documentationtoggle', '#documentation');
setupToggle({{page.postsExpanded}}, '#poststoggle', '#posts');

</script>
</body>
